<connectionStrings>
  <add name="ETools" connectionString="Data Source=.;Initial Catalog=eTools; Integrated Security=true" providerName="System.Data.SqlClient"/>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WSWebsite-121919ae-9bfe-4580-b980-9301539fc628;AttachDbFilename=|DataDirectory|\aspnet-WSWebsite-121919ae-9bfe-4580-b980-9301539fc628.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
</connectionStrings>
